DATABASE_URL="file:./dev.db"
JWT_SECRET="fitai_production_grade_jwt_secret_key_2026_fitness_ai"
NEXTAUTH_SECRET="fitai_production_grade_jwt_secret_key_2026_fitness_ai"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ML_SERVICE_URL="http://127.0.0.1:8000"
